/* general styles */
html {
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
}

body {
	margin: 0;
}

h1,
h2 {
	font-family: "Playfair Display SC", serif;
}

/* header */

/* about me */

#about .container {
	display: inline-flex;
}

#about .container div {
	width: 80%;
}

#about img {
	width: 20%;
	min-width: 200px;
	align-self: top;
}

/* projects */

/* languages */
