/* general styles: line 11 */
/* header: line 90 */
/* footer: line 173 */
/* biography: line 190 */
/* projects: line 232 */
/* languages: line 279 */
/* contact: line 292 */

/* general styles */

html * {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#footer-spacer {
	flex-grow: 1;
}

main {
	max-width: 930px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: "Playfair Display SC", serif;
}

h2 {
	font-size: 2rem;
}

h2,
h3 {
	margin: 20px;
}

.text {
	background-color: hsl(129, 34%, 61%);
	border-radius: 10px;
	padding: 0.1px 15px;
	margin: 10px;
	overflow: auto;
}

.image-div {
	margin: 0 10px;
	border-radius: 10px;
}

.introduction {
	margin: 20px;
}

i {
	font-size: 5rem;
	margin: 0 15px;
}

a {
	color: black;
}

a:hover {
	font-weight: 600;
}

@media only screen and (min-width: 431px) {
	.container {
		display: inline-flex;
		justify-content: left;
	}

	.container .text {
		margin: 0 10px 0 5px;
	}
}

/* header */

header {
	background-color: hsl(129, 34%, 61%);
	width: 100%;
	height: 125px;
	position: sticky;
	top: 0;
}

h1 {
	font-size: 3rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 15px;
	padding-top: 10px;
	min-width: 268px;
}

nav {
	width: 100%;
	list-style: none;
	display: inline-flex;
	justify-content: center;
}

nav li {
	margin: auto 15px;
	width: 65px;
}

nav a {
	text-decoration: none;
	text-align: center;
	line-height: 1;
	transition: font-size 0.1s, margin-left 0.1s, line-height 0.1s;
}

nav a:hover,
nav a:active {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.25rem;
	line-height: 0.8;
	margin-left: -5px;
}

nav a:visited {
	color: black;
	text-decoration: none;
}

.current-page {
	font-weight: 600;
}

@media only screen and (min-width: 431px) {
	header {
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		padding-top: 0;
	}

	h1 {
		margin: 10px;
		line-height: 1;
		padding-top: 0;
	}

	nav {
		max-width: 200px;
		justify-content: space-around;
		margin: auto 10px;
	}

	nav li {
		margin: auto;
	}
}

/* footer */

footer {
	background-color: hsl(129, 34%, 61%);
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

#footer-text {
	text-align: right;
	margin-right: 20px;
	font-size: 14px;
}

/* biography */

#portrait {
	object-fit: cover;
	width: 100%;
	max-height: 300px;
	object-position: 0 25%;
	border-radius: 10px;
}

.photo-link {
	font-weight: 600;
}

.photo-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media only screen and (min-width: 431px) and (max-width: 930px) {
	#bio .container .text {
		width: 80%;
		max-height: 270px;
		max-width: 700px;
	}

	#bio .image-div {
		width: 20%;
		min-width: 202px;
		margin: 0 5px 0 10px;
		padding: 0;
	}
}

@media only screen and (min-width: 931px) {
	#bio {
		margin: auto;
	}

	#bio .container .text {
		height: 270px;
		width: 700px;
	}

	#bio .image-div {
		width: 202px;
		margin: 0 5px 0 10px;
		padding: 0;
	}
}

/* projects */

.screenshot {
	border-radius: 10px;
	object-fit: cover;
	width: 100%;
	max-height: 300px;
	object-position: top;
}

@media only screen and (min-width: 431px) and (max-width: 910px) {
	.screenshot {
		height: 222px;
	}

	#projects .image-div {
		width: 50%;
		overflow: hidden;
	}

	#projects .text {
		width: 50%;
		height: 222px;
	}
}

@media only screen and (min-width: 911px) {
	#projects-layout {
		display: inline-flex;
	}

	.project {
		width: 50%;
		max-width: 500px;
		padding: 0 20px;
	}

	#projects .container {
		display: inline;
	}

	#projects .text {
		margin: 10px 10px 0 10px;
		height: 165px;
	}
}

/* languages */

#icons {
	margin-left: 10px;
	display: inline-flex;
	flex-wrap: wrap;
}

.icon p {
	text-align: center;
	margin-top: 8px;
}

/* contact */

#contact h2 {
	text-align: center;
}

.contacts {
	text-align: center;
	width: 100%;
}

.contact-type {
	align-items: center;
	margin: 30px auto;
}

.contact-type h3 {
	margin: 10px 0;
}

.contact-type p {
	margin: 10px 0;
}

.contact-type i {
	width: 80px;
}

@media only screen and (min-width: 430px) and (max-width: 729px) {
	#contact h2 {
		text-align: left;
	}

	.contacts {
		text-align: left;
		width: auto;
		margin-left: 20px;
	}

	.contact-type {
		display: inline-flex;
		width: 100%;
		margin-top: 0;
	}

	.contact-type i {
		text-align: center;
	}

	.contact-text {
		margin-left: 10px;
	}
}

@media only screen and (min-width: 730px) {
	#contact h2 {
		text-align: left;
	}

	.contact-type {
		display: inline;
		margin: 0 20px;
	}

	.contacts {
		display: flex;
		width: 710px;
		justify-content: space-around;
	}

	.contact-text a {
		margin: 0 4.5px;
	}

	.center:hover {
		margin: 0;
	}

	.left:hover {
		margin: 0 2px 0 2.5px;
	}

	.right:hover {
		margin: 0 2.5px 0 2px;
	}
}
